body{
    font-family:cursive;
    background-color: #E1CAB3;
}

h1{
    color:#c19569;
    border:5px solid #A4B3B0;
    text-align: center;
}

img{
    border: 5px solid white;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    display: block;

}
 a:link{
    color:rgba(135, 59, 59, 0.662);
 }
a:hover{
    font-weight: bold;
}
a:active{
    color:burlywood;
    background-color: rgba(135, 59, 59, 0.662);
}